/* header image styling  */
/* .hero 
    {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../Image_assets/hero.jpg");
    
        position: relative;
        background-size: cover;
        height: 95vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 40px;
    } */
    /* Navigation Class */
    .nav {
        border-bottom: 2px solid darkblue;
        text-align: right;
        height: 70px;
        line-height: 70px;
        /* color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        padding: 10px 1.25rem; */
      }


      .menu{

            margin: 0 30px 0 0;


      }
      .menu a{

          text-decoration: none;
          color:darkblue;
          margin: 0px 10px;
          line-height: 70px;

      }
  /* Logo class */
  /* .logo {
    height: 120px;
    width: 120px;
  }
  */
/* nav bar center code */
/* .navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
}
.nav-item:hover{
  margin-left: 5px;

}


@media (min-width: 700px) {
  .navbar-nav .bg-dark {
    background-color: rgb(24, 19, 19) !important;
  }
} */ 


/* hasdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
