body {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.toggle,
[id^="drop"] {
  display: none;
}
nav {
  margin: 0;
  padding: 0;
  background-color: #04283a;
}
#logo {
  display: block;
  padding: 5px 0 5px 25px;
  float: left;
}
h4.Head_Name {
  display: inline;
  vertical-align: center;
  color: #fff;
  padding-left: 10px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}
nav a {
  display: block;
  font-size: bold;
  padding: 14px 20px;
  color: white;
  font-size: 17px;
  text-decoration: none;
}
nav a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
img.banner {
  width: 100%;
}
@media (max-width: 768px) {
  #logo {
    display: block;
    padding: 20px 0 10px 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  .prev-next-button {
    display: none;
  }
  nav {
    margin: 0;
  }
  nav ul {
    float: left;
    width: 100%;
  }
  .toggle + a,
  .menu {
    display: none;
  }
  .toggle {
    display: block;
    background-color: white;
    padding: 14px 20px;
    margin-right: 10px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    float: right;
  }
  .toggle:hover {
    background-color: rgb(0, 0, 0);
  }

  .toggle:hover .bar1,
  .toggle:hover .bar2,
  .toggle:hover .bar3 {
    color: black;
    background-color: white;
  }
  [id^="drop"]:checked + ul {
    display: block;
  }
  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  nav a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
  }
}

/*******************************************************hero section************************************* */
.hero_image {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../Image_assets/hero_section.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: relative;
  height: 95vh;
}
.hero_content {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding-left: 50px;
  padding-top: 100px;
  width: relative;
}
h4 {
  padding-top: 100px;
  padding-left: 40px;
}
h1 {
  margin-left: 20px;
  padding-left: 20px;
  color: white !important;
}

/* next and previous button */
.prev-next-button {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #04283a;
  transform: translateY(-50%);
}

.previous {
  left: 10px;
}
.next {
  right: 10px;
}

.prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.arrow {
  fill: white;
}

/* main content css style section */
.main-content-wrapper {
  position: relative;
  text-align: center;
  padding: 0px;
  /* background-color: cadetblue; */
}

.main-brand {
  display: inline-block;
  position: relative;
  color: black;
  padding: 20px;
  margin: 20px 10 5px 50px;
  text-align: center;
  font-size: 3em;
  /* border-style: solid; */
}
.main-brand-icons {
  display: inline-block;

  color: black;
  padding: 20px;
  margin: 20px 10 5px 50px;
  width: 100%;
  text-align: center;
  /* background-color: aquamarine; */
}
.main-brand-icon-container {
  display: inline-block;
  position: relative;
  margin: 20px;
}

.brand-image {
  /* width: 70%; */
  padding: 12px 0;
  vertical-align: middle;
  border-style: 1px black solid;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 5px;

  position: relative;
}
.brand-heading {
  background-color: white;
}
.heading-dot {
  padding: 5px;
  align-content: center;
}

/* main content project section*/
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.header-bar {
  margin: 25px 0 5px 0;
  width: 70px;
  height: 4px;
  background: #444649;
}
.main-content-menu {
  display: inline-block;
  color: black;
  padding: 20px;
  margin: 20px 10 5px 50px;
  width: 100%;
}
.menu-row {
  display: inline-block;

  text-align: center;
  /* float: left; */
  flex-direction: row;
  padding: 50px 0 10px 0;
  margin: 0 5px 0 5px;
}
h3 a {
  padding: 5px;
  margin: 5px;
  color: black;
}
h3 a:hover {
  text-decoration: none;
  background-color: #fff;
  size: 24px;
}

.filter {
  font-size: 6pt;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
/* list of project section */
.proj-box-container {
  display: inline-block;
  float: left;
  content: "";
  position: relative;
}

.proj-box {
  display: none;
  float: left;
  border-radius: 12px;
  /* margin: 5px; */
  /* padding: 10px 20px 10px 20px; */
  position: relative;
  background-color: orangered;
  width: 300px;
  height: 200px;
}
.proj-content-wrapper {
  padding-left: 50px;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  position: relative;
}
@media (max-width: 995px) {
  .proj-box {
    width: 47% !important;
  }
  figure.snip1256 img {
    max-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .proj-box {
    width: 95% !important;
  }
  figure.snip1256 img {
    max-width: 100% !important;
  }
}

/* About us section css  */
/* profile pic settting

height and width and also contain containers
*/
.profile-container {
  width: 100%;
  padding: 5px;
  display: flex;
  position: relative;
  justify-content: center;
}
.profile-image {
  width: 69%;
  vertical-align: middle;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

.info-section {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paragraph-wrapper {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.picture-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.picture-contianer {
  object-fit: cover;
  position: relative;
}
